{% extends "base.html" %}
{% load static %}

<!-- linha 2  -->
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-success">
        <div class="panel-heading cont_site">Conteúdo do Site</div>
        <div class="panel-body" id="menulist_site">
            <div class="list-group list_site">
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-list icone_menu_conteudo" aria-hidden="true"></span>
                Biografias </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-align-left icone_menu_conteudo" aria-hidden="true"></span>
                Artigos </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-download-alt icone_menu_conteudo" aria-hidden="true"></span>
                Arquivos </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-bookmark icone_menu_conteudo" aria-hidden="true"></span>
                Eventos </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-bullhorn icone_menu_conteudo" aria-hidden="true"></span>
                Palestras </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-film icone_menu_conteudo" aria-hidden="true"></span>
                Videos </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-book icone_menu_conteudo" aria-hidden="true"></span>
                Livros </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-headphones icone_menu_prahoje" aria-hidden="true"></span>
                Audio </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-map-marker icone_menu_conteudo" aria-hidden="true"></span>
                Estamos aqui </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-tower icone_menu_conteudo" aria-hidden="true"></span>
                Jogos </a>
        </div>
        </div>
        <!-- <div class="panel-footer">Atividades do dia</div> -->
    </div>

  </div>
  <!-- /.col-lg-3 -->
<div class="col-lg-9">
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">Chico Xavier</a>
      </h4>
      <h5>Um Pouco de História</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"> Bezerra de Menezes</a>
      </h4>
      <h5>Um Pouco de História</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">Viagem Astral</a>
      </h4>
      <h5>Definições</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>

</div>
</div><!-- fim linha 2  -->

{% endblock content %}
